.loaded-profiles-wrapper {
  height: 100%;

  .profiles-list {
    background-color: #fff;
    margin-top: 16px;
    box-shadow: rgba(180, 180, 180, 0.28) 0 1px 16px, rgba(180, 180, 180, 0.28) 0 5px 24px !important;
    padding: 0;
    height: 100%;
    overflow: hidden;

    .wrapper {
      border-bottom: 1px solid whitesmoke;

      & > * {
        display: inline-block;
      }
    }

    .profiles {
      height: ~'calc(100% - 64px)';
      overflow-x: hidden;
      overflow-y: auto;
      box-sizing: border-box;
      padding: 0 !important;

      .profiles-filters {
        margin-left: 20px;
      }

      .avatar {
        background-color: whitesmoke;
        padding: 5px;
        border-radius: 20px;
        top: 10px !important;
      }
    }

    .nav {
      height: 64px;
      line-height: 64px;
      box-sizing: border-box;

      & > * {
        display: inline-block;

        &:first-child {
          margin-right: 8px;
        }
      }
    }

    .resource-tabs {
      height: ~'calc(100% - 64px)';

      .resource-tabs-container {
        height: ~'calc(100% - 48px)';
        overflow: auto;

        .resource-info {
          padding: 10px;

          .label-value {
            display: inline-block;
            min-width: 25%;

            &.big {
              min-width: 100%;
            }
          }
        }

        .rc-tree-node-selected {
          background-color: inherit;
          border: none;
          opacity: 1;
        }

        .rc-tree-node-content-wrapper.rc-tree-node-content-wrapper-normal {
          overflow: hidden;
          width: calc(100% - 20px);
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
